__pycache__/
*.py[cod]
*$py.class

# Logs
logs/
*.log

# Environment variables file
.env

# Docker
.dockerignore
docker-compose.override.yml

# IDE settings
.vscode/
.idea/

# Python virtual environments
env/
venv/